/*.header-container {*/
/*    position: relative;*/
/*}*/

.header-image {
    /*margin-top: 105px;*/
    width: 100%;
    height: 100%;
}

/*.header-container, .hotel-text-container {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*}*/

/*.hotel-text-container {*/
/*    margin-top: 480px;*/
/*    z-index: 9;*/
/*}*/

.hotel-text-container h1 {
    font-size: 70px;
    margin: 10px 0px 10px 0px;
    color: black;
}

.hotel-text-container h2 {
    font-size: 100px;
    margin: 10px 0px 10px 0px;
    color: #B6B784;
}

.hotel-text-container p {
    color: black;
}

