.menu-bar {
    display: flex;
    justify-content: space-between;
    background-color: #215454;
    padding: 30px;
}

.menu-bar-logo {
    color: #B6B784;
    text-decoration: none;
}

.menu-bar-logo:hover {
    opacity: 0.8;
}

.menu-bar-links {
    display: flex;
    list-style: none;
    color: #ffffff;
}

.menu-bar-link {
    padding-left: 10px;
}

.menu-bar-link:hover {
    opacity: 0.8;
}
