.hotel-room-container, .hotel-room-container-two {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.room-single-room, .room-double-room, .room-delux-room, .room-superior-room, .room-superior-suite-room {
    height: 50vh;
    width: 50vh;
}