.services-page {
    min-height: 80vh;
    padding: 20px;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;

    list-style: none;
    color: #215454;
}

.service {
    background-color: #2154544f;
    padding: 10px;
    margin: 10px;
    width: 30vw;
}

.service:hover {
    opacity: 0.8;
    cursor: pointer;
}

