.spa-page {
    min-height: 80vh;
}

.spa-header {
    height: 400px;
}

.spa-header-image-text {
    position: relative;
    height: 100%;
}

.spa-header-image {
    width: 100%;
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.spa-header-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.spa-header-heading {
    font-size: 70px;
}

.spa-content {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.spa-content-block {
    display: flex;
    padding: 20px;
}

.spa-content-block-image-container {
    width: 100%;
}

.spa-content-block-image {
    height: 100%;
    width: 100%;
}

.spa-content-block-text {
    padding: 0 20px;
    text-align: left;
}

.spa-content-block-paragraph {
    padding: 10px 0;
}
