.users-page {
    min-height: 80vh;
    padding: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.users {
    display: flex;
    flex-direction: column;
    width: 30vw;
}

.user {
    list-style: none;
    margin: 5px 0;
    padding: 10px;
    background-color: #2154544f;
    color: #215454;
    text-align: left;
}

.user-block {
    padding: 5px 10px;
}

.user-block.name {
    font-size: 20px;
}

.heading {
    font-weight: bold;
    font-size: 12px;
    padding-right: 5px;
}

.info {
    font-size: 12px;
}
